code/ParkSmart.json
[{"id":"66c22a0e.ae6274","type":"tab","label":"Park Smart","disabled":false,"info":""},{"id":"8afa5c8b.50421","type":"http in","z":"66c22a0e.ae6274","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":220,"y":80,"wires":[["1b4e9dc.181dd62"]]},{"id":"1b4e9dc.181dd62","type":"template","z":"66c22a0e.ae6274","name":"custom login page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 15px;\n  background: #000;\n}\n\n.form-group {\n  margin-bottom: 15px;\n}\n\n.form-group input {\n  width: 100%;\n  border-radius: 2px;\n\n  display: block;\n  width: 100%;\n  height: 34px;\n  padding: 6px 12px;\n  font-size: 14px;\n  line-height: 1.42857143;\n  color: #555;\n  outline: 0;\n  border: 1px solid #ddd;\n}\n\n.login-wrapper > a, button {\n  text-decoration: none;\n  cursor: pointer;\n  background-color: #00979C;\n  border: 1px solid #008d92;\n  color: #f3f5f6;\n  transition: color 0.2s, background-color 0.2s;\n\n  text-align: center;\n  padding: 12px 60px;\n  font-size: 1.2rem;\n  display: inline-block;\n  margin-bottom: 1rem;\n  border-radius: 2px;\n  background-color: #00979C;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n\n.login-wrapper > a:hover, .login-wrapper > a:active,\nbutton:hover, button:active {\n  background-color: #00b5bb;\n  color: #f3f5f6;\n  border-color: #00abb0;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 400px;\n  color: #EFF0F1;\n  text-align: center;\n  left: calc(50% - 200px);\n  top: calc(50% - 180px);\n}\n\n.response {\n  margin-top: 10px;\n  padding: 15px;\n  color: #fff;\n  border-radius: 2px;\n}\n\n.response.success {\n  background-color: #51b385;\n  border-color: #63bb92;\n}\n\n.response.error {\n  background-color: #c11532;\n  border-color: #c11532;\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>Park Smart</title>\n</head>\n<body>\n\n  <div class=\"login-wrapper\">\n    \n    <h1>Park Smart</h1>\n    <form id=\"login-form\">\n      <div class=\"form-group\">\n        <input type=\"text\" name=\"username\" placeholder=\"Username\"/>  \n      </div>\n      <div class=\"form-group\">\n        <input type=\"password\" name=\"password\" placeholder=\"Password\"/>  \n      </div>\n      <button type=\"submit\">Login</button>\n      <div class=\"response\"></div>\n    </form>\n\n  </div>\n    \n  <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script>\n  <script>\n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n\n    function getParameterByName(name) {\n      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);\n      return match && decodeURIComponent(match[1].replace(/\\+/g, ' '));\n    }\n    \n    $(\"#login-form\").submit(function (e) {\n      e.preventDefault();\n      var username = $(this).find(\"input[name=username]\").val();\n      var password = $(this).find(\"input[name=password]\").val();\n      var cred = {\n        username: username,\n        password: password\n      };\n      $.post('/users', cred).done(function () {\n        showResponse(\"Login success! Redirecting...\", \"success\");\n        //$.post('/reserve', cred);\n        setTimeout(function () {\n            //$.post('/reserve', cred);\n            window.location = '/reserve';  \n       }, 2000);        \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n          default: \n            msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n  </script>\n\n</body>\n</html>","x":410,"y":80,"wires":[["5e4bd725.1ab508"]]},{"id":"5e4bd725.1ab508","type":"http response","z":"66c22a0e.ae6274","name":"","statusCode":"","headers":{},"x":590,"y":80,"wires":[]},{"id":"90ccf0bd.4a9f4","type":"http in","z":"66c22a0e.ae6274","name":"","url":"/reserve","method":"get","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["68320a9e.96ed54"]]},{"id":"49d9ea7e.70e274","type":"template","z":"66c22a0e.ae6274","name":"reservation page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Park Smart Reservation Page</title>\n  <style> \n       .table{\n        width: 400px;\n        align-items: left;        \n        text-align: left;         \n      }\n\n      .login-wrapper {\n        position: absolute;\n        padding: 15px;\n        margin: 0 auto;\n        width: 400px;\n        color: #EFF0F1;\n        text-align: center;\n        left: calc(50% - 200px);\n        top: calc(50% - 180px);\n      }\n\n      @media (max-width: 1500px) {\n        .login-wrapper {\n          width: 100%;\n          left: 0;\n          top: 100px;\n          padding: 15px 30px;\n        }\n      }\n\n      td{\n        color:#FFFFFF;\n      }\n\n      tr{\n        height: 75px;\n      }\n\n      html {\n        height: 100%;\n      }\n\n      body {\n        margin: 0;\n        height: 100%;\n        font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n        font-size: 15px;\n        background: #000;\n      }\n\n      .form-group {\n        margin-bottom: 15px;\n      } \n      \n    .split {\n      height: 50%;\n      width: 50%;\n      position: fixed;\n      z-index: 1;\n      top: 50;\n      overflow-x: hidden;\n      padding-top: 50px;\n    }\n    \n    .left {\n      left: 0;\n      background-color: #111;\n    }\n    \n    .right {\n      right: 0;\n      background-color: #111;\n    }\n    \n    .centered {\n      position: absolute;\n      top: 50%;\n      left: 50%;\n      transform: translate(-50%, -50%);\n      text-align: right;\n      color:#FFF;\n    }\n    \n    .h3 {\n      color: #51b385;\n      text-align: center;\n    }\n    \n    .response {\n      margin-top: 10px;\n      padding: 15px;\n      color: #FFFFFF;\n      border-radius: 2px;\n    }\n    \n    .response.success {\n      background-color: #51b385;\n      border-color: #63bb92;\n    }\n    \n    .response.error {\n      background-color: #c11532;\n      border-color: #c11532;\n    }\n    \n    .heading {\n      text-align: center;\n      color: #FFF;\n     }     \n  </style>\n</head>\n<body>\n  <div class=\"heading\">    \n    <h1>Park Smart - Reserve A Spot</h1>\n    <h2 id=\"welcome\">Welcome Back {{payload.username}} !</h1>\n    <form id=\"reserve-form\" >\n      <div class=\"split left\">\n      <div class=\"centered\">\n        <h3 class=\"h3\"> Parking Spot Status</h3>\n       <table class=\"table\">\n          <tr class=\"tr\">\n            <td class=\"td\" id=\"id1\">Parking Spot {{payload.park_spot_1}} {{payload.park_spot_1_status}}</td>\n            <td class=\"td\">Parking Spot {{payload.park_spot_2}} {{payload.park_spot_2_status}}</td>\n            <td class=\"td\"> Reserved Parking {{payload.park_spot_3}} {{payload.park_spot_3_status}} </td>\n          </tr>\n           <tr class=\"tr\">\n            <td class=\"td\"> Parking Spot 4 Available</td>\n            <td class=\"td\">Parking Spot 5 Available</td>\n            <td class=\"td\"> Parking Spot 6 Available</td>\n          </tr>\n        </table>  \n      </div>\n      </div>\n      \n      <div class=\"split right\">\n      <div class=\"centered\">\n            <h3 class=\"h3\"> Add Reservation Details</h3>\n            <label for=\"pspot\">Parking Spot:</label>\n           <input type=\"text\" id=\"pspot\" name=\"pspot\" placeholder=\"Parking Spot\"><br>\n           <label for=\"numplate\">Car Number Plate:</label>\n           <input type=\"text\" id=\"numplate\" name=\"numplate\" placeholder=\"Number Plate\"><br>\n           <label for=\"intime\">In Time:</label>\n           <input type=\"datetime-local\" id=\"intime\" name=\"intime\"><br>\n           <label for=\"outtime\">Out Time:</label>\n           <input type=\"datetime-local\" id=\"\" name=\"outtime\" ><br>\n           <label for=\"phonenumber\">Phone Number:</label>\n           <input type=\"text\" id=\"phonenumber\" name=\"phonenumber\" placeholder=\"Phone Number\"><br>\n           <label for=\"email\">Email Id:</label>\n           <input type=\"text\" id=\"email\" name=\"email\" placeholder=\"Email Id\"><br><br>\n           \n           <input type=\"submit\" value=\"Submit\">\n           \n           <div class=\"response\"></div>\n      </div>\n      </div>\n     \n    <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script> \n    <script>\n    \n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n    \n      $(\"#reserve-form\").submit(function (e) {\n      e.preventDefault();\n      var pspot = $(this).find(\"input[name=pspot]\").val();\n      var numplate = $(this).find(\"input[name=numplate]\").val();\n      var intime = $(this).find(\"input[name=intime]\").val();\n      var outtime = $(this).find(\"input[name=outtime]\").val();\n      var phonenumber = $(this).find(\"input[name=phonenumber]\").val();\n      var email = $(this).find(\"input[name=email]\").val();\n      var reserve_details = {\n        pspot: pspot,\n        numplate: numplate,\n        intime: intime,\n        outtime: outtime,\n        phonenumber: phonenumber,\n        email: email\n      };\n      $.post('/reserveData', reserve_details).done(function () {\n        showResponse(\"Registration in progress! Redirecting...\", \"success\");\n       setTimeout(function () {\n          //$.post('/reserveData',reserve_details);\n          window.location = '/reserve';  \n        }, 2000);          \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n          default: \n            msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n    </script>\n</body>\n</html>","output":"str","x":770,"y":280,"wires":[["8e523ead.815f4"]]},{"id":"db9541ea.331fa","type":"exec","z":"66c22a0e.ae6274","command":"sudo python3 /home/pi/Desktop/TCSS573_Class_Activities_GR01/Project/parksmartTest.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"python func","x":230,"y":820,"wires":[["f14c867c.7ec3f8","e799320.e3a3cd"],["49f5574f.363bc8"],[]]},{"id":"6cb42170.e8cdb","type":"inject","z":"66c22a0e.ae6274","name":"refresh parking details","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":760,"wires":[["db9541ea.331fa"]]},{"id":"f9737a3f.61ff08","type":"function","z":"66c22a0e.ae6274","name":"INSERT PS1","func":"function getDateTime() { \n    var date = new Date(); \n    var hour = date.getHours(); \n    hour = (hour < 10 ? \"0\" : \"\") + hour; \n    var min = date.getMinutes(); \n    min = (min < 10 ? \"0\" : \"\") + min; \n    var sec = date.getSeconds(); \n    sec = (sec < 10 ? \"0\" : \"\") + sec; \n    var year = date.getFullYear(); \n    var month = date.getMonth() + 1; \n    month = (month < 10 ? \"0\" : \"\") + month; \n    var day = date.getDate(); \n    day = (day < 10 ? \"0\" : \"\") + day; \n    return year + \":\" + month + \":\" + day + \":\" + hour + \":\" + min + \":\" + sec; \n    \n}\nmsg.topic = 'INSERT INTO parking_spot_details (parking_no, is_available,parking_date) VALUES (?,?,?)'; \nvar d = getDateTime();\nmsg.payload = [msg.payload.parkspot_ps1, msg.payload.parkspot1status,d];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":780,"wires":[["5a27db43.45d944"]]},{"id":"f126fc0d.2edfd","type":"function","z":"66c22a0e.ae6274","name":"INSERT PS2","func":"function getDateTime() { \n    var date = new Date(); \n    var hour = date.getHours(); \n    hour = (hour < 10 ? \"0\" : \"\") + hour; \n    var min = date.getMinutes(); \n    min = (min < 10 ? \"0\" : \"\") + min; \n    var sec = date.getSeconds(); \n    sec = (sec < 10 ? \"0\" : \"\") + sec; \n    var year = date.getFullYear(); \n    var month = date.getMonth() + 1; \n    month = (month < 10 ? \"0\" : \"\") + month; \n    var day = date.getDate(); \n    day = (day < 10 ? \"0\" : \"\") + day; \n    return year + \":\" + month + \":\" + day + \":\" + hour + \":\" + min + \":\" + sec; \n    \n}\nmsg.topic = 'INSERT INTO parking_spot_details (parking_no, is_available,parking_date) VALUES (?,?,?)';\nvar d =  getDateTime();\nmsg.payload = [msg.payload.parkspot_ps2, msg.payload.parkspot2status, d];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":820,"wires":[["5a27db43.45d944"]]},{"id":"5a27db43.45d944","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":830,"y":820,"wires":[[]]},{"id":"f14c867c.7ec3f8","type":"json","z":"66c22a0e.ae6274","name":"","property":"payload","action":"","pretty":false,"x":450,"y":820,"wires":[["f9737a3f.61ff08","f126fc0d.2edfd","600b3e35.446eb","81ef469a.a5c1e8"]]},{"id":"aa58bb35.101048","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":570,"y":2460,"wires":[["b265f6f5.899218"]]},{"id":"62a0d5aa.64b7bc","type":"inject","z":"66c22a0e.ae6274","name":"Create parking_spot_details","topic":"create table parking_spot_details(ID INTEGER PRIMARY KEY AUTOINCREMENT ,parking_no int,is_available varchar,parking_date datetime,is_reserved int);","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2540,"wires":[["aa58bb35.101048"]]},{"id":"b265f6f5.899218","type":"debug","z":"66c22a0e.ae6274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":2460,"wires":[]},{"id":"4c5b2139.f0793","type":"inject","z":"66c22a0e.ae6274","name":"drop table","topic":"drop table parking_spot_details;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2500,"wires":[["aa58bb35.101048"]]},{"id":"96b4aad1.7d4f78","type":"inject","z":"66c22a0e.ae6274","name":"SELECT parking spot","topic":"select * from parking_spot_details","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2420,"wires":[["aa58bb35.101048"]]},{"id":"7947b547.d7603c","type":"inject","z":"66c22a0e.ae6274","name":"DELETE parkingspot","topic":"DELETE FROM parking_spot_details ","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2460,"wires":[["aa58bb35.101048"]]},{"id":"d843e789.e48158","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":390,"y":280,"wires":[["b778c58f.531178"]]},{"id":"7411fb29.0523b4","type":"function","z":"66c22a0e.ae6274","name":"RetrieveParkStatus1FromDB","func":"msg.topic=\"select parking_no, is_available from parking_spot_details where id=(select MAX(id) from parking_spot_details where parking_no =1) union select parking_no, is_available from parking_spot_details where id=(select MAX(id) from parking_spot_details where parking_no =2) union select parking_no, is_available from parking_spot_details where id=(select MAX(id) from parking_spot_details where parking_no =3)\";\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":280,"wires":[["d843e789.e48158"]]},{"id":"b778c58f.531178","type":"function","z":"66c22a0e.ae6274","name":"identify spot fn","func":"var park_1= msg.payload[0].parking_no;\nvar park_2= msg.payload[1].parking_no;\nvar park_3= msg.payload[2].parking_no;\nvar park_1_available=msg.payload[0].is_available;\nvar park_2_available=msg.payload[1].is_available;\nvar park_3_available=msg.payload[2].is_available;\nvar name = flow.get('username');\n\nmsg.payload = {\n    park_spot_1: park_1,\n    park_spot_2: park_2,\n    park_spot_3: park_3,\n   park_spot_1_status:park_1_available,\n   park_spot_2_status:park_2_available,\n   park_spot_3_status:park_3_available,\n   username: name\n};\n\nmsg.topic= \"DB Data\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["49d9ea7e.70e274"]]},{"id":"a6274e9b.60944","type":"http in","z":"66c22a0e.ae6274","name":"POST RESERVE","url":"/reserveData","method":"post","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["28b0083a.0b58d8","cc7e6b51.2cfe78","1ccdc0e3.a9359f","69ddb029.330d7","15a9f056.8d3d1"]]},{"id":"28b0083a.0b58d8","type":"http response","z":"66c22a0e.ae6274","name":"","statusCode":"","headers":{},"x":370,"y":400,"wires":[]},{"id":"313d16b7.c2b68a","type":"inject","z":"66c22a0e.ae6274","name":"SELECT reservation_details","topic":"select * from reservation_details","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2340,"wires":[["aa58bb35.101048"]]},{"id":"1ccdc0e3.a9359f","type":"function","z":"66c22a0e.ae6274","name":"INSERT Reservation Details","func":"function getDateTime(inputdate) { \n    //var date = new Date(); \n    var date = new Date(inputdate);\n    var hour = date.getHours(); \n    hour = (hour < 10 ? \"0\" : \"\") + hour; \n    var min = date.getMinutes(); \n    min = (min < 10 ? \"0\" : \"\") + min; \n    var sec = date.getSeconds(); \n    sec = (sec < 10 ? \"0\" : \"\") + sec; \n    var year = date.getFullYear(); \n    var month = date.getMonth() + 1; \n    month = (month < 10 ? \"0\" : \"\") + month; \n    var day = date.getDate(); \n    day = (day < 10 ? \"0\" : \"\") + day; \n    return year + \":\" + month + \":\" + day + \":\" + hour + \":\" + min + \":\" + sec; \n    \n}\nmsg.topic = 'INSERT INTO reservation_details (parking_no, name_plate, in_time, out_time, phonenumber, email) VALUES (?,?,datetime(?),datetime(?),?,?)'; \nvar in_time=msg.payload.intime;\nvar out_time=msg.payload.outtime;\nmsg.payload = [msg.payload.pspot, msg.payload.numplate,in_time,out_time,msg.payload.phonenumber,msg.payload.email];\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["ff6b91e4.303ab","a4b55389.5ca0c"]]},{"id":"d5a523e1.d9c59","type":"inject","z":"66c22a0e.ae6274","name":"Create reservation_details","topic":"create table reservation_details(ID INTEGER PRIMARY KEY AUTOINCREMENT ,parking_no int,name_plate varchar,in_time datetime, out_time datetime, phonenumber varchar, email varchar);commit();","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2580,"wires":[["aa58bb35.101048"]]},{"id":"ff6b91e4.303ab","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":630,"y":440,"wires":[[]]},{"id":"cc7e6b51.2cfe78","type":"function","z":"66c22a0e.ae6274","name":"INSERT PS3","func":"function getDateTime() { \n    var date = new Date(); \n    var hour = date.getHours(); \n    hour = (hour < 10 ? \"0\" : \"\") + hour; \n    var min = date.getMinutes(); \n    min = (min < 10 ? \"0\" : \"\") + min; \n    var sec = date.getSeconds(); \n    sec = (sec < 10 ? \"0\" : \"\") + sec; \n    var year = date.getFullYear(); \n    var month = date.getMonth() + 1; \n    month = (month < 10 ? \"0\" : \"\") + month; \n    var day = date.getDate(); \n    day = (day < 10 ? \"0\" : \"\") + day; \n    return year + \":\" + month + \":\" + day + \":\" + hour + \":\" + min + \":\" + sec; \n    \n}\nmsg.topic = 'INSERT INTO parking_spot_details (parking_no, is_available,parking_date) VALUES (?,?,?)'; \nvar d = getDateTime();\nmsg.payload = [msg.payload.pspot, \"Occupied\",d];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["ff6b91e4.303ab"]]},{"id":"600b3e35.446eb","type":"function","z":"66c22a0e.ae6274","name":"INSERT PS3","func":"function getDateTime() { \n    var date = new Date(); \n    var hour = date.getHours(); \n    hour = (hour < 10 ? \"0\" : \"\") + hour; \n    var min = date.getMinutes(); \n    min = (min < 10 ? \"0\" : \"\") + min; \n    var sec = date.getSeconds(); \n    sec = (sec < 10 ? \"0\" : \"\") + sec; \n    var year = date.getFullYear(); \n    var month = date.getMonth() + 1; \n    month = (month < 10 ? \"0\" : \"\") + month; \n    var day = date.getDate(); \n    day = (day < 10 ? \"0\" : \"\") + day; \n    return year + \":\" + month + \":\" + day + \":\" + hour + \":\" + min + \":\" + sec; \n    \n}\nmsg.topic = 'INSERT INTO parking_spot_details (parking_no, is_available,parking_date) VALUES (?,?,?)';\nvar d =  getDateTime();\nmsg.payload = [msg.payload.parkspot_ps3, msg.payload.parkspot3status, d];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":860,"wires":[["5a27db43.45d944"]]},{"id":"f233e118.86cac","type":"comment","z":"66c22a0e.ae6274","name":"Park_Smart_log in page","info":"","x":410,"y":40,"wires":[]},{"id":"e8ce338.aa34ad","type":"comment","z":"66c22a0e.ae6274","name":"Park_Smart_reserve_page","info":"","x":450,"y":180,"wires":[]},{"id":"2c6e1bd6.f6df34","type":"comment","z":"66c22a0e.ae6274","name":"Get Reserve Details and insert into database","info":"","x":470,"y":360,"wires":[]},{"id":"de364347.7a259","type":"comment","z":"66c22a0e.ae6274","name":"Insert parkSpot status in database every minute","info":"","x":500,"y":720,"wires":[]},{"id":"8abb640b.af9848","type":"comment","z":"66c22a0e.ae6274","name":"Database operations for park_smart database","info":"","x":490,"y":2100,"wires":[]},{"id":"d089d19e.c885a","type":"function","z":"66c22a0e.ae6274","name":"validate_number_plate","func":"msg.topic = \"select count(*) AS tot_count from reservation_details where parking_no = 3 and name_plate =? and out_time > datetime('now','localtime')\";\nmsg.payload=[msg.payload.ps3_number_plate];\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":900,"wires":[["ceee8c88.833a"]]},{"id":"ceee8c88.833a","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":850,"y":900,"wires":[["4feca83c.053f58","4f45a896.27c898"]]},{"id":"32e74462.b65ddc","type":"inject","z":"66c22a0e.ae6274","name":"insert reservations","topic":"insert into reservation_details(parking_no, name_plate, in_time, out_time) values(3,\"00H 848Y\",\"2020:03:04:17:06:46\",\"2020:03:08:17:06:46\")","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2300,"wires":[["aa58bb35.101048"]]},{"id":"4feca83c.053f58","type":"switch","z":"66c22a0e.ae6274","name":"Check_Count","property":"payload[0].tot_count","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":960,"wires":[["a673ca96.aa3de8"],["7c24e661.5075a8","26a7e7b7.3d1fc8"]]},{"id":"b6a0e57a.b0f238","type":"sms","z":"66c22a0e.ae6274","name":"Send to Admin","message":"","numbers":"+14254449887","throttle":1000,"twilio":"e0f5fee6.1e11a","x":980,"y":1060,"wires":[[]]},{"id":"7c24e661.5075a8","type":"function","z":"66c22a0e.ae6274","name":"UnAuthorized-Msg","func":"msg.payload = \"Unauthorized vehicle parked in Reserved Parking Spot - 3!\";\nmsg.topic=\"Unauthorized car parked in Reserved Parking. Take Action!\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1080,"wires":[["8def5076.c5fdb","b6a0e57a.b0f238"]]},{"id":"26a7e7b7.3d1fc8","type":"exec","z":"66c22a0e.ae6274","command":"python /home/pi/Desktop/TCSS573_Class_Activities_GR01/Project/blinkled.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"func_blink_led","x":760,"y":1020,"wires":[[],[],[]]},{"id":"a673ca96.aa3de8","type":"function","z":"66c22a0e.ae6274","name":"Authorised-Msg","func":"msg.payload = \"Your car is parked on spot number 3.  Have a nice time!\";\nmsg.topic = \"Car parking confirmation\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":960,"wires":[["3e73184e.9b0778","5eb151e8.4cfb6"]]},{"id":"5eb151e8.4cfb6","type":"sms","z":"66c22a0e.ae6274","name":"Send to User","message":"","numbers":"+12538022031","throttle":1000,"twilio":"e0f5fee6.1e11a","x":970,"y":960,"wires":[[]]},{"id":"3e73184e.9b0778","type":"e-mail","z":"66c22a0e.ae6274","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"deepthi.warrier@gmail.com","dname":"Email to User","x":980,"y":1000,"wires":[]},{"id":"8def5076.c5fdb","type":"e-mail","z":"66c22a0e.ae6274","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"deepthiw@uw.edu","dname":"Email to Admin","x":980,"y":1100,"wires":[]},{"id":"89185912.e67d98","type":"comment","z":"66c22a0e.ae6274","name":"Notification Feature","info":"","x":550,"y":1041,"wires":[]},{"id":"68320a9e.96ed54","type":"function","z":"66c22a0e.ae6274","name":"SET USERNAME","func":"flow.set('username', msg.payload.username);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["7411fb29.0523b4"]]},{"id":"8e523ead.815f4","type":"http response","z":"66c22a0e.ae6274","name":"","statusCode":"","headers":{},"x":930,"y":280,"wires":[]},{"id":"9639d140.16bbf","type":"inject","z":"66c22a0e.ae6274","name":"Refresh Display","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1420,"wires":[["f18934d8.4ee7b8"]]},{"id":"c5cad5c9.8b9d68","type":"comment","z":"66c22a0e.ae6274","name":"Display Available lots on the LCD","info":"","x":490,"y":1360,"wires":[]},{"id":"f18934d8.4ee7b8","type":"function","z":"66c22a0e.ae6274","name":"Get Empty Spots","func":"msg.topic = \"select count(*) AS totalCount from parking_spot_details where is_available= \\\"Available\\\" and id in (select MAX(id) from parking_spot_details where parking_no =1 union select MAX(id) from parking_spot_details where parking_no =2 union select MAX(id) from parking_spot_details where parking_no =3)\";\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":1420,"wires":[["9f71feeb.f91e3"]]},{"id":"9f71feeb.f91e3","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":550,"y":1420,"wires":[["7741e81d.8fb208"]]},{"id":"7741e81d.8fb208","type":"function","z":"66c22a0e.ae6274","name":"set totalcount","func":"var displaytext = \"Total Available Spots: \"+msg.payload[0].totalCount;\nmsg.payload = {\n    text: displaytext,\n    rgb: [39, 158, 154]\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1420,"wires":[["316de758.9ed6f8"]]},{"id":"316de758.9ed6f8","type":"grove lcdrgb output","z":"66c22a0e.ae6274","name":"Display Spots","board":"c9a67174.490a4","pin":"1","x":900,"y":1420,"wires":[]},{"id":"69ddb029.330d7","type":"exec","z":"66c22a0e.ae6274","command":"python /home/pi/Desktop/TCSS573_Class_Activities_GR01/Project/Turn_ON_BlueLED.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Turn ON blueLED","x":390,"y":580,"wires":[[],[],[]]},{"id":"f9b8fe28.d8b6c","type":"comment","z":"66c22a0e.ae6274","name":"Display on IBM Watson","info":"","x":440,"y":1500,"wires":[]},{"id":"7d9d5cab.659504","type":"function","z":"66c22a0e.ae6274","name":"RetrieveParkStatus1FromDB","func":"msg.topic=\"select parking_no, is_available from parking_spot_details where id=(select MAX(id) from parking_spot_details where parking_no =1) union select parking_no, is_available from parking_spot_details where id=(select MAX(id) from parking_spot_details where parking_no =2) union select parking_no, is_available from parking_spot_details where id=(select MAX(id) from parking_spot_details where parking_no =3)\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1560,"wires":[["c8132649.8f4768"]]},{"id":"310da5f6.fa895a","type":"json","z":"66c22a0e.ae6274","name":"","property":"payload","action":"","pretty":false,"x":750,"y":1560,"wires":[["cb769255.8c8dd"]]},{"id":"eea4226e.a432d","type":"inject","z":"66c22a0e.ae6274","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1560,"wires":[["7d9d5cab.659504"]]},{"id":"c8132649.8f4768","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":570,"y":1560,"wires":[["310da5f6.fa895a"]]},{"id":"cb769255.8c8dd","type":"wiotp out","z":"66c22a0e.ae6274","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"956796fc.5c7818","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"Send Sensor Data to watson","x":980,"y":1620,"wires":[]},{"id":"aa1a6e2f.49bb9","type":"function","z":"66c22a0e.ae6274","name":"Retrieve Reservation Data","func":"msg.topic= \"select count(*) reservation_count,strftime('%d', out_time) date from reservation_details where strftime('%d', out_time) =  strftime('%d', datetime('now','localtime'))\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1620,"wires":[["20ed3c40.9d92e4"]]},{"id":"20ed3c40.9d92e4","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":570,"y":1620,"wires":[["f47bcefe.1fc8a"]]},{"id":"4c0a9143.903d5","type":"inject","z":"66c22a0e.ae6274","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1620,"wires":[["aa1a6e2f.49bb9"]]},{"id":"298dcb60.84f4c4","type":"inject","z":"66c22a0e.ae6274","name":"DELETE Reservation_details","topic":"DELETE FROM reservation_details ","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2380,"wires":[["aa58bb35.101048"]]},{"id":"f47bcefe.1fc8a","type":"json","z":"66c22a0e.ae6274","name":"","property":"payload","action":"","pretty":false,"x":750,"y":1620,"wires":[["cb769255.8c8dd"]]},{"id":"cd77d38a.4d557","type":"function","z":"66c22a0e.ae6274","name":"Get Empty Spots","func":"msg.topic = \"select count(*) AS totalCount from parking_spot_details where is_available= \\\"Available\\\" and id in (select MAX(id) from parking_spot_details where parking_no =1 union select MAX(id) from parking_spot_details where parking_no =2 union select MAX(id) from parking_spot_details where parking_no =3)\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1680,"wires":[["edb2ba3a.9febf8"]]},{"id":"edb2ba3a.9febf8","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":570,"y":1680,"wires":[["dc52a619.af3468"]]},{"id":"3d25b7ea.7499f8","type":"inject","z":"66c22a0e.ae6274","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1680,"wires":[["cd77d38a.4d557"]]},{"id":"dc52a619.af3468","type":"json","z":"66c22a0e.ae6274","name":"","property":"payload","action":"","pretty":false,"x":750,"y":1680,"wires":[["cb769255.8c8dd"]]},{"id":"5705ce02.fc71f","type":"comment","z":"66c22a0e.ae6274","name":"Motor Rotation ","info":"","x":440,"y":1760,"wires":[]},{"id":"1417a31f.30cc6d","type":"exec","z":"66c22a0e.ae6274","command":"python /home/pi/Desktop/TCSS573_Class_Activities_GR01/Project/motor_control.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Rotate Motor","x":430,"y":1820,"wires":[["e3bc5b18.ab5d18"],["ab0893fe.e4aa"],[]]},{"id":"e3bc5b18.ab5d18","type":"debug","z":"66c22a0e.ae6274","name":"Motor O/P","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":1800,"wires":[]},{"id":"ab0893fe.e4aa","type":"debug","z":"66c22a0e.ae6274","name":"Motor error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":1840,"wires":[]},{"id":"a1931214.8f0bc","type":"inject","z":"66c22a0e.ae6274","name":"Distance","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1820,"wires":[["1417a31f.30cc6d"]]},{"id":"a1a423de.6edfe","type":"inject","z":"66c22a0e.ae6274","name":"Commit","topic":"commit();","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2260,"wires":[["aa58bb35.101048"]]},{"id":"15a9f056.8d3d1","type":"function","z":"66c22a0e.ae6274","name":"Reservation_Msg","func":"msg.payload = {\n    message: \"Your Reservation was successful!\",\n    phoneNumber: msg.payload.phonenumber,\n    email: msg.payload.email\n}\nflow.set(\"prev_num_plate\", \"\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["9f726b7e.ea2798"]]},{"id":"a4b55389.5ca0c","type":"sms","z":"66c22a0e.ae6274","name":"Send to User","message":"","numbers":"+12538022031","throttle":1000,"twilio":"e0f5fee6.1e11a","x":630,"y":500,"wires":[[]]},{"id":"fba177e.3e1de88","type":"e-mail","z":"66c22a0e.ae6274","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Email to User","x":820,"y":540,"wires":[]},{"id":"cced43c.82514c","type":"inject","z":"66c22a0e.ae6274","name":"drop table","topic":"drop table reservation_details;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2620,"wires":[["aa58bb35.101048"]]},{"id":"9f726b7e.ea2798","type":"function","z":"66c22a0e.ae6274","name":"Reserve Email Details","func":"var message = msg.payload.message;\nvar toaddress = msg.payload.email;\nmsg.payload = message;\nmsg.to = toaddress;\nmsg.topic = 'Reservation Confirmation';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":540,"wires":[["fba177e.3e1de88"]]},{"id":"a5a4f96a.9a84d8","type":"inject","z":"66c22a0e.ae6274","name":"","topic":"select count(*) AS tot_count from reservation_details where parking_no = 3 and name_plate = 'MH12DE1433' and out_time > datetime('now','localtime')","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2220,"wires":[["aa58bb35.101048"]]},{"id":"81ef469a.a5c1e8","type":"function","z":"66c22a0e.ae6274","name":"set_num_plate","func":"var numplate = msg.payload.ps3_number_plate;\nif(numplate !== \"\"){\n    var prev_num_plate = flow.get(\"prev_num_plate\");\n    if(prev_num_plate != numplate){\n        flow.set(\"prev_num_plate\", numplate);\n        flow.set(\"validateplateflag\", true);\n    }else{\n        flow.set(\"validateplateflag\",false);\n    }\n}else{\n    flow.set(\"validateplateflag\",false);\n}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":900,"wires":[["87db1bbf.e4ba88"]]},{"id":"87db1bbf.e4ba88","type":"switch","z":"66c22a0e.ae6274","name":"check name plate","property":"validateplateflag","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":900,"wires":[["d089d19e.c885a"]]},{"id":"acac2381.5526c","type":"comment","z":"66c22a0e.ae6274","name":"Reset the Blue LeD and validate flag","info":"","x":500,"y":1220,"wires":[]},{"id":"3bd58086.b692a","type":"function","z":"66c22a0e.ae6274","name":"check reservation","func":"msg.topic = \"select count(*) AS tot_count from reservation_details where parking_no = 3 and out_time > datetime('now','localtime')\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1280,"wires":[["6563abfd.d2ba44"]]},{"id":"92b37bc7.c1faf8","type":"grove digital output","z":"66c22a0e.ae6274","name":"BlueLed","board":"c9a67174.490a4","pin":"3","x":900,"y":1280,"wires":[]},{"id":"6563abfd.d2ba44","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":510,"y":1280,"wires":[["f3ffac3a.af6f8"]]},{"id":"b68ead91.4f9b1","type":"inject","z":"66c22a0e.ae6274","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1280,"wires":[["3bd58086.b692a"]]},{"id":"f3ffac3a.af6f8","type":"function","z":"66c22a0e.ae6274","name":"switchoff/on led","func":"var count = msg.payload[0].tot_count;\nif(count >= 1){\n    msg.payload = 1;\n    flow.set(\"validateplateflag\",true);\n}else {\n    msg.payload = count;\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1280,"wires":[["92b37bc7.c1faf8"]]},{"id":"b26c6a8f.1279c8","type":"inject","z":"66c22a0e.ae6274","name":"update reservations","topic":"update reservation_details set out_time = datetime('now','localtime') where parking_no = 3 and id =(select MAX(Id) from reservation_details)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":2180,"wires":[["aa58bb35.101048"]]},{"id":"3700930f.83084c","type":"inject","z":"66c22a0e.ae6274","name":"","topic":"select * from reservation_details where parking_no = 3 and out_time > datetime('now','localtime');","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2660,"wires":[["aa58bb35.101048"]]},{"id":"adfa861a.ba6398","type":"inject","z":"66c22a0e.ae6274","name":"","topic":"select datetime('now','localtime') from reservation_details;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":2700,"wires":[["aa58bb35.101048"]]},{"id":"3e724cb4.287d74","type":"function","z":"66c22a0e.ae6274","name":"Retrieve Last months Per Day Data","func":"msg.topic= \"select count(*) reservation_count,strftime('%d %m', in_time) date from reservation_details where in_time > date('now','localtime', '-30 days') group by strftime('%d %m', in_time) order by strftime('%d %m', in_time)\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1940,"wires":[["fe3bb67.a9f5148"]]},{"id":"fe3bb67.a9f5148","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":610,"y":1940,"wires":[["68815160.5f9f7"]]},{"id":"16fe444f.c8585c","type":"inject","z":"66c22a0e.ae6274","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1960,"wires":[["3e724cb4.287d74","2afbe788.5c5128"]]},{"id":"68815160.5f9f7","type":"function","z":"66c22a0e.ae6274","name":"Reserved_Day","func":"var myData = [];\nvar count = msg.payload.length;\nfor (i = 0 ; i<count ; i++) {\n    var obj = { \n        topic: msg.payload[i].date,\n        payload: msg.payload[i].reservation_count\n    };\n    myData.push(obj);\n}\nreturn [myData];","outputs":1,"noerr":0,"x":800,"y":1940,"wires":[["540d2850.f514a8"]]},{"id":"2afbe788.5c5128","type":"function","z":"66c22a0e.ae6274","name":"Retrieve Per Month Reservation Data","func":"msg.topic= \"select count(*) reservation_count,strftime('%m', in_time) month from reservation_details group by strftime('%m', in_time) order by strftime('%m', in_time)\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2000,"wires":[["46e9250c.84ea7c"]]},{"id":"46e9250c.84ea7c","type":"sqlite","z":"66c22a0e.ae6274","mydb":"d4f5bf39.b63f1","sqlquery":"msg.topic","sql":"","name":"park_smart","x":610,"y":2000,"wires":[["680a987b.0b8e38"]]},{"id":"680a987b.0b8e38","type":"function","z":"66c22a0e.ae6274","name":"Reserved_Month","func":"var myData = [];\nvar count = msg.payload.length;\nfor (i = 0 ; i<count ; i++) {\n    var obj = { \n        topic: msg.payload[i].month,\n        payload: msg.payload[i].reservation_count\n    };\n    myData.push(obj);\n}\nreturn [myData];","outputs":1,"noerr":0,"x":790,"y":2000,"wires":[["4f877df1.c7de14"]]},{"id":"540d2850.f514a8","type":"ui_chart","z":"66c22a0e.ae6274","name":"Day Count","group":"6568cdea.57d934","order":0,"width":0,"height":0,"label":"Reservation Count Per Day For Last Month","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":1940,"wires":[[]]},{"id":"4f877df1.c7de14","type":"ui_chart","z":"66c22a0e.ae6274","name":"Monthly Count","group":"6568cdea.57d934","order":1,"width":0,"height":0,"label":"Reservation Count Per Month","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":980,"y":2000,"wires":[[]]},{"id":"61bbdfc1.2212e","type":"comment","z":"66c22a0e.ae6274","name":"IOT_Data_Analysis","info":"","x":470,"y":1900,"wires":[]},{"id":"e799320.e3a3cd","type":"debug","z":"66c22a0e.ae6274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":780,"wires":[]},{"id":"49f5574f.363bc8","type":"debug","z":"66c22a0e.ae6274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":150,"y":960,"wires":[]},{"id":"4f45a896.27c898","type":"debug","z":"66c22a0e.ae6274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":860,"wires":[]},{"id":"d4f5bf39.b63f1","type":"sqlitedb","z":"","db":"park_smart","mode":"RWC"},{"id":"e0f5fee6.1e11a","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"c9a67174.490a4","type":"board-config","z":"","board":"GrovePi"},{"id":"956796fc.5c7818","type":"wiotp-credentials","z":"","name":"ParkSmartSensors","org":"lf5zqb","serverName":"lf5zqb.messaging.internetofthings.ibmcloud.com","devType":"ParkSmart","devId":"parkSmartSensor","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"6568cdea.57d934","type":"ui_group","z":"","name":"Park Smart Analysis","tab":"fed93bc9.77dee8","disp":true,"width":"6","collapse":false},{"id":"fed93bc9.77dee8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]